@import "../Helpers/vars";

.FAQ {
  width: 100%;
  height: calc(100vh - 56px);
  &__bg {
    background-image: url("../images/faq.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 100%;
    height: calc(100vh - 56px);
    position: absolute;
    animation: page-transition 2s;
    z-index: 0;
  }
}