.Preloader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  cursor: none;
  &__header {
    margin: 0;
    font-size: 10vw;
    color: rgba(225,225,225, .01);
    //background-image: url("https://raw.githubusercontent.com/vitaliikorol/med/master/public/images/preloader.jpg");
    //background-repeat: repeat;
    //background-size: cover;
    -webkit-background-clip:text;
    animation: text_bg 10s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  &__description {
    color: white;
    position: absolute;
    bottom: 0;
    animation: description 2s infinite;
  }
}
@keyframes description {
  0% {color: white}
  50% {color: grey}
  100% {color: white}
}
@keyframes text_bg {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

